* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

:root {
  --text: #ffffff;
  --background-indoor: #27657f;
  --background-external: linear-gradient(243.18deg, #244857 0%, #1d546b 100%);
  --highlight: #4dc1f2;

  --gray-100: #e1e1e6;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--text);
}

button {
  cursor: pointer;
}
