.contentContainer {
  width: 100vw;
  height: 100vh;
  background: var(--background-external);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentPodcast {
  width: 48rem;
  height: 26.125rem;
  background: var(--background-indoor);
  border-radius: 8px 8px 8px 8px;
}
