.contentContainer {
  width: 100vw;
  height: 100vh;
  background: var(--background-external);
  display: flex;
  //flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 375px) {
    width: 100vw;
    height: 100vh;

    //justify-content: flex-start;

    //display: flex;
    flex-direction: column;
    background: none;
  }
}

.contentBanner {
  width: 19.687rem;
  height: 26.125rem;

  display: flex;

  img {
    border-radius: 8px 0px 0px 8px;
  }

  @media (max-width: 375px) {
    width: 100%;
    height: 20.6875rem;

    img {
      border-radius: 0px;
    }
  }
}

.contentPodcast {
  width: 28.312rem;
  height: 26.125rem;
  display: flex;
  background: var(--background-indoor);
  border-radius: 0px 8px 8px 0px;

  @media (max-width: 375px) {
    width: 100%;
    height: 21rem;

    border-radius: 0px;
  }
}
