.bgPodcast {
  position: absolute;

  img {
    width: 19.687rem;
    height: 26.125rem;
  }
}

.bgBorder {
  position: absolute;
  width: 19.687rem;
  height: 4.437rem;
  margin-top: -4.6rem;

  background: linear-gradient(
    180deg,
    rgba(68, 68, 68, 0) 0%,
    rgba(68, 68, 68, 0.72) 100%
  );
  border-radius: 0px 0px 0px 8px;

  h1 {
    font-weight: 700;
    font-size: 2.125rem;
    font-style: italic;
    margin-left: 1.5rem;
  }

  p {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 1.5rem;
  }
}

.infoPodcast {
  position: absolute;
  width: 28.312rem;
  height: 26.125rem;
  margin-left: 20.343rem;

  border-radius: 0px 8px 8px 0px;
}

.aboutPodcast {
  margin-top: 1rem;
  margin-left: 0.5rem;

  span {
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 0.562rem;
    letter-spacing: 0.46em;

    opacity: 0.5;
  }

  p {
    width: 23.062rem;
    margin-top: 0.687rem;
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.187rem;
  }
}

.readMore1 {
  height: 4.25rem;

  &.previewPodcast {
    background: linear-gradient(var(--gray-100), transparent);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.readMore2 {
  display: none;

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #15475b;
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0d3241;
  }

  p {
    width: 26.187rem;

    height: 5.5rem;
    overflow-y: scroll;
  }
}

.btnReadMore {
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.187rem;
  color: var(--highlight);
  cursor: pointer;
}

.contentEpisodes {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 24.687rem;
  margin-right: 2.125rem;

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #15475b;
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0d3241;
  }

  span {
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 0.562rem;
    letter-spacing: 0.46em;

    opacity: 0.5;
  }
}

.contentList {
  margin-top: 0.687rem;
  width: 26.187rem;
  height: 14.625rem;
  overflow-y: scroll;
}

.listEpisodes {
  list-style: none;

  li {
    display: flex;
    cursor: pointer;

    img {
      width: 4.375rem;
      height: 4.375rem;
    }

    p {
      margin-left: 0.875rem;
      align-self: center;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1rem;

      span {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: normal;

        opacity: 0.5;
      }
    }

    + li {
      margin-top: 1rem;
    }
  }
}
