.contentContainer {
  width: 48rem;
  height: 6.75rem;
  background-color: #15475b;
  border-radius: 0px 0px 8px 8px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 375px) {
    width: 23.4375rem;
    height: 7.875rem;
    margin: 0;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.progress {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  gap: 0.75rem;
  font-size: 0.875rem;

  span {
    display: inline-block;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.187rem;
    opacity: 0.5;
  }

  .slider {
    flex: 1;
    width: 26rem;

    @media (max-width: 375px) {
      width: 14.6875rem;
      flex: none;
    }
  }

  @media (max-width: 375px) {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

.buttons {
  height: 6.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
  gap: 1rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;

    &.playButton {
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  @media (max-width: 375px) {
    width: 23.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
